* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER  */

/* NAV  */

header {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

nav {
    width: 100%;
    height: 80px;
    text-align: center;
    font-weight: 600;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li #logo {
    vertical-align: middle;
}

nav ul li:first-child,
nav ul li:last-child {
   padding: 0 250px;
}

#nav-btn {
    border-radius: 30px;
    padding: 10px 15px;
    background-color: white;
    border: none;
    font-weight: 600;
}

/* BANNER  */

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    color: white;
    text-align: center;
}

.banner-text h1 {
    font-size: 50px;
}

.banner-text p {
    font-size: 20px;
    padding: 40px 0 20px;
    line-height: 30px;
}

.btns {
    border-radius: 30px;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    margin: 0 10px;
}

.banner-text button:first-of-type:before{
    content: "\2193";
}

#apri-btn {
    background-color: #23272A;
    color:white;
}

/* MAIN  */

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 150px 0;
    color: #23272A;
}

/* Wrapper img left  */

.wrapper .section-img {
    float: left;
    width: 60%;
    margin-left: 70px;
}

.wrapper .section-text {
    float: left;
    width: 300px;
    margin: 40px 0;
}

.wrapper .section-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.wrapper .section-text p {
    font-size: 18px;
    line-height: 30px;
}

/* wrapper img right  */

.section-special {
    background-color: #F6F6F6;
}

.wrapper .section-text-special {
    float: left;
    width: 300px;
    margin: 40px 0 0 100px;
    color: #23272A;
}

.wrapper .section-text-special h2 {

    font-size: 40px;
    margin-bottom: 20px;
}

.wrapper .section-text-special p {
    font-size: 18px;
    line-height: 30px;
}

/* WRAPPER FOOT  */

.wrapper.foot .foot-text {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.wrapper.foot .foot-text h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.wrapper.foot .foot-text p {
    font-size: 18px;
    line-height: 30px;    
}

.wrapper.foot img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.wrapper.foot .final-text {
    font-size: 25px;
    text-align: center;
}

.wrapper.foot .final-text h3 {
    font-size: 25px;
    padding: 40px 0
}

.final-text {
    background-image: url(../img/stars.svg);
    width: 40%;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#purple {
    background-color: #8EA2E1;
    color: white;
}

/* FOOTER  */

footer {
    background-color: #23272A;
}

.footer1 {
    border-bottom: 1px solid #5865F2;
}

.footer-content {
    width: 70%;
    margin: 0px auto;
    padding: 50px 0;
}

.col {
    float: left;
    width: calc(100% / 6);
    padding-bottom: 30px;
}

.col-special {
    float: left;
    width: calc((100% / 6)*2);
}

.footer-content .col-special h4 {
    font-size: 30px;
    padding-right: 200px;
    color: #5865F2;
}

.footer-content .col-special img {
    max-width: 30px;
}

.footer-content .col-special select {
    border: none;
    background-color: #23272A;
    color: white;
}

.footer-lng {
    margin: 10px 0;
}

.footer-icn i {
    color: white;
    padding-right: 10px;
}

.footer-content ul li {
    list-style: none;
    color: white;
    padding: 10px 0;
    font-size: 14px;
}

.footer-content ul li:first-child {
    color: #5865F2;
}

.footer2 {
    position: relative;
    width: 100%;
    height: 100px;
}

.footer2 img {
    position: absolute;
    top: 50px;
    vertical-align: middle;
}

.footer2 button {
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: #5865F2;
    color: white;
    border: none;
    font-weight: 600;
}