* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* HEADER  */

/* NAV  */

header {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

nav {
    width: 100%;
    height: 80px;
    text-align: center;
    font-weight: 600;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li #logo {
    vertical-align: middle;
}

ul li:first-child,
ul li:last-child {
   padding: 0 250px;
}

#nav-btn {
    border-radius: 30px;
    padding: 10px 15px;
    background-color: white;
    border: none;
    font-weight: 600;
}

/* BANNER  */

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    color: white;
    text-align: center;
}

.banner-text h1 {
    font-size: 50px;
}

.banner-text p {
    font-size: 20px;
    padding: 40px 0 20px;
    line-height: 30px;
}

.banner-btns {
    border-radius: 30px;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    margin: 0 10px;
}

.banner-text button:first-of-type:before{
    content: "\2193";
}

#apri-btn {
    background-color: #23272A;
    color:white;
}






