* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */

body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#gray {
    background-color: #E6E6E6;
}

.btn {
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
}

/* HEADER  */

/* NAV  */

header {
    background-color: #404EED;
}

nav {
    width: 60%;
    height: 80px;
    margin: 0 AUTO;
    line-height: 80px;
}

nav #logo {
    width: 15%;
    height: 100%;
}

nav #logo img {
    vertical-align: middle;
}

nav .main-nav {
    width: 70%;
    text-align: center;
}

nav #accedi-btn {
    height: 100%;
    position: relative;
    width: 15%;
}

.main-nav ul li {
    display: inline;
    padding: 0 15px;
    list-style: none;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
}

nav #accedi-btn button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: white;
}


/* BANNER  */

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.wrapper h1 {
    font-size: 60px;
    padding-bottom: 30px;
}

.wrapper p {
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 30px;
}


#apri-btn {
    background-color: black;
    color: white;
}


/* MAIN  */

/* section */

.w-70 {
    width: 70%;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

.wave {
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity: 0.1;
}

.white-wave {
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity: 0.1;
}

.rotate {
    transform: rotate(180deg);
}

.col-img {
    height: 100%;
    width: 55%;
}


.col-text {
    height: 100%;
    width: 45%;
    padding: 30px 100px;
}

section .col-text h2,
.col-bottom-text h2 {
    font-size: 40px;
    padding-bottom: 30px;
}

section .col-text p,
.col-bottom-text p {
    font-size: 20px;
    line-height: 30px;
}

.col-bottom-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #23272A;
}


.col-bottom-img {   
    width: 90%;
    margin: 0 auto;
}

.col-bottom-img img {
    width: 100%;
}

.bottom-btn {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.bottom-btn div {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}

#bottom-btn {
    background-color: #404EED;
    color: white;
}

/* FOOTER  */

/* footer content 1  */

footer {
    background-color: #23272A;
    color: white;
}

.footer-content1 {
    border-bottom: 1px solid #5865F2;
    width: 60%;
    margin: 0 auto;
    padding: 100px 0 30px 0;
}

.footer-content1 .col {
    width: calc((100% / 6));
}

.footer-content1 .col.special {
    width: calc((100% / 6) * 2);
}

.footer-content1 .col h3, li:first-child {
    color: #5865F2;
}

.footer-content1 .col li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-content1 .col.special h3 {
    font-size: 30px;
}

.footer-content1 .col.special img {
    width: 25px;
    vertical-align: middle;
}

.footer-content1 .col.special select {
    border: none;
    color: white;
    background-color: #23272A;
    padding: 20px 0;
}

.footer-content1 .col.special i {
    font-size: 20px;
    padding-right: 20px;
}

/* footer content 2  */

.footer-content2 {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-content2 button {
    background-color: #4264F2;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
}

